<div class="documents-wrapper">
	<div class="documents-container">
		<div class="documents-list">
			<div class="documents-header">
				<core-profile />

				<div class="documents-header__title" translate>
					Character.Guess the character
				</div>
			</div>
			<div class="documents-main">
				<div class="documents-main-content">
					<div class="documents-main-row">
						<wform
							(wChange)="addCharacter()"
							*ngIf="characters.length"
							[submition]="submition"
							[config]="formDoc"
						></wform>
					</div>
					<div
						*ngIf="selectedCharacters.length"
						class="documents-main-row"
					>
						<div class="documents__title" translate>
							Character.Selected characters
						</div>
						<div class="documents-triggers">
							<div
								*ngFor="let character of selectedCharacters; index as i"
								class="documents-triggers__wrap"
							>
								<core-character
									[compareToCharacter]="selectedCharacter"
									[character]="character"
								/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
