@use 'scss';

body {
	margin-bottom: var(--safe-area-inset-bottom, 0px);
	margin-top: var(--safe-area-inset-top, 0px);
	background: var(--c-bg-primary);
}

.nav {
	margin-bottom: var(--safe-area-inset-bottom, 0px);
}

.documents-header {
	margin-top: var(--safe-area-inset-top, 0px);
}
